pyrogram
Pillow
aria2p
asyncio
barcode
beautifulsoup4
alive-progress
dnspython
gitpython
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
hachoir
heroku3
oauth2client
psycopg2-binary
pySmartDL
pymongo
requests
sqlalchemy
tgcrypto
youtube-dl
wikipedia
speedtest-cli
spamwatch
