
Pillow
aria2p
asyncio
barcode
beautifulsoup4
alive-progress
dnspython
gitpython
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
hachoir
heroku3
https://github.com/pyrogram/pyrogram/archive/asyncio.zip
oauth2client
psycopg2-binary
pySmartDL
pymongo
requests
https://github.com/pyrogram/pyrogram/archive/asyncio-dev.zip
tgcrypto

asyncio
aiohttp

beautifulsoup4
emoji

gitpython
heroku3

hachoir
Pillow

psycopg2-binary
sqlalchemy

youtube-dl
wikipedia
speedtest-cli
spamwatch
